/**
 * Loader Box Styling
 */
hero-loader::shadow .loader-box {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0 0 68px rgba(93, 135, 146, 0.7);
  height: 120px;
  left: 50%;
  margin: -60px 0 0 -250px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 500px;
  z-index: 10;
}

hero-loader::shadow .loader-content {
  background: rgb(244, 244, 244);
  border: 1px dotted rgb(204, 204, 204);
  border-radius: 20px;
  height: 102px;
  margin: 8px;
  width: 482px;
}

hero-loader::shadow .loader-title {
  border-radius: 20px 20px 0 0;
  color: rgb(0, 0, 0);
  font-size: 64px;
  line-height: 102px;
  margin: 0 0 24px 0;
}
