/**
 * Game Header Styling
 */
.game-header {
  background: rgb(160, 160, 160);
  border-radius: 20px 20px 0 0;
  margin: -22px 0 16px;
  padding: 6px 32px;
}

.game-header-nickname {
  display: inline;
  font-size: 31px;
}

.game-header-logout {
  background-color: rgb(180, 0, 0);
  border: none;
  border-radius: 8px;
  color: rgb(250, 250, 250);
  cursor: pointer;
  float: right;
  font-size: 18px;
  padding: 6px;
}

.game-header-logout:hover {
  background-color: rgb(220, 0, 0);
}
